.container__about {
    background-color: #f3f3f3; 
    margin: 0;
    padding: 0;  
}

.top {
    width: 100%;
    height: 100%;
    margin-top: 80px;
    padding: 100px 100px 0 100px;    
}

.image {
    background-image: url(./images/silvi.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.h1 {
    font-size: 6.5rem;
    letter-spacing: 3px;
}

.bottom {
    width: 100%;
    height: 100%;
    margin: 0; 
}

.bottom h2 {
    font-size: 5rem;
    margin: 35px 0;
}text_about

.bottom section {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 35px 0;
}

.h2 {
    margin: 50px 0 20px 0;
}

.data {
    justify-content: center;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 35px 0;
    width: 100%;
    margin: 0;
}

.reasons {
    margin: 50px 35px 0 35px;
}

.reasons p {
    margin-bottom: 0;
    font-size: 1.3rem;
}

.btn-about {
    margin: 40px 0 80px 0;
    border: none;
    font-weight: bold;
    background-color: #f5b9cb;
    box-shadow: 3px 3px 30px -5px #1e4171;
    transition: all 300ms ease-in-out;
    color: #1e4171;
}

.btn-about:hover {
    box-shadow: 6px 6px 50px -5px #1e4171;
    background-color: #f5b9cb;
    color:  #202934;
}

.text_about p{
    font-size: 1.2rem;
}

.text_about {
    font-size: 1.2rem;
}

.item {
    justify-content: center;
    align-items: center;
    width: 32%;
    margin: 0 5px;
    border: 2px solid #1e4171;
    border-radius: 10px;
    box-shadow: 3px 3px 10px -1px #1e4171;
}

.data p {
    margin: 5px;
}



@media screen and (max-width: 767px) {
    .top {
        margin: 0;
        padding: 150px 20px 30px 20px;
    }
    .container__about{
        text-align: center;
    }
    .h1 {
        font-size: 3.3rem;
        letter-spacing: 0px;
    } 
    .bottom h2 {
        font-size: 3rem;
        padding: 30px 0 10px 0;
        margin: 0;
    }
    
    .bottom section {
        font-size: 0.9rem;
        margin: 0;
    }  
    .reasons {
        margin: 16px 0 0 0; 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .reason {
        width: 100%;
        margin: 7px 0;
    }  
    .reason p{
        font-size: 0.8rem;    
    } 
    .h2 {
        margin: 20px 0;
        font-size: 1.4rem;
    }    
    .data p{
        font-weight: bolder;
        font-size: 0.9rem;
        padding-bottom: 0;
    }    
    .btn-about {
        margin: 20px;
        border: none;
        font-size: 0.9rem;
    }        
    .text_about p{
        font-size: 0.9rem;
    }  
    .data {
        justify-content: center;
        padding: 32px 0;
    }
    .item {
        width: 80%;
        padding: 5px 0;
        margin-bottom: 8px;
    }
    .item p{
        padding: 0;
        margin: 0;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1199px) {
    .image {
        visibility: hidden;    
    }
}