.container__faqs {
    background-color: #f3f3f3; 
    margin: 0;
    padding: 0;  
    width: 100vw;
}

.color {
    color: #f5b9cb;
}

.faqs {
    width: 60%;
    height: 100%;
    margin: 80px 0 0 20%;
    padding: 100px 0;  
}

.faqs-title {
    font-size: 6.5rem;
    letter-spacing: 3px;
}

.space {
    text-align: left;
}

.space h5 {
    margin-top: 50px;
}

.bold {
    font-weight: bold;
    margin: 20px 0;
}

.list li::marker {
    font-size: 1.5rem;
    color: #f5b9cb;
}

.list h5 {
    margin: 20px 0;
}

.question {
    padding: 80px 0;
    background-image: url("https://images.wallpaperscraft.com/image/single/question_marks_figures_3d_112755_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.question_text h3 {
    font-size: 2.4rem;
    font-weight: 400;
}

.question_text {
    width: 60%;
    text-align: start;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: 10%;
  }

.buttonContactFaqs {
    width: auto;
    align-self: center;
  }

.btn-question {
    width: 180px;
    height: 50px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: #f3f3f3;
    background-color: #1e4171;
    transition: all 400ms ease-in-out;
}
  
.btn-question:hover {
    width: 190px;
    height: 55px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 30px -5px #f3f3f3;
    background-color: #1e4171;
    color: #f3f3f3;
}

@media screen and (max-width: 767px) {
    .faqs {
        min-width: 100vw;
        height: 100%;
        margin: 0px 0 0 0%;
        padding: 150px 20px 20px 20px; 
    }

    .space {
        padding: 0 10px;
    }

    .space .colordark {
        margin-bottom: 30px;
    }

    .faqs-title {
        font-size: 3rem;
    }

    .space h5 {
        font-size: 16px;
    }

    .question_container {
        width: 100%;
        margin: 0;
    }
    
    .question {
        padding: 40px 0;
    }

    .question .row {
        width: 100%;
        margin: 0;
    }

    .question_text {
        text-align: center ;
        font-size: 1.1rem;
        margin-left: 0;
    }
    
    .question_text h3{
        font-size: 1.7rem;
        text-align: center;
        font-weight: 600;  
    }

    .buttonContactFaqs { 
        width: 100%;
        margin-top: 40px;
    }

    .btn-question {
        width: 180px;
        height: 50px;
        border: none;
        font-size: large;
        font-weight: bold;
        color: #f3f3f3;
        background-color: #1e4171;
        transition: all 400ms ease-in-out;
    } 
}