.reviews-container {
    width: 100%;
}

.reviewTitle {
    font-size: 5rem;
    margin: 10px;
}

.subtitle {
    font-size: 1.6rem;
}

.card {
    border: none;
    background: #f3f3f3;
    max-width: fit-content;
    margin: 25px 0;
}

.review {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.img-container {
    width: 50%;
}

.img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.review-info {
    width: 250px;
    padding: 0;
    text-align: start;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review-info h4 {
    font-weight: bolder;
}

.stars-container {
    color: gold;
}

.read-more {
    color: #f3f3f3;
    background: #1e4171;
    margin-bottom: 10px;
}

.read-more:hover {
    color: #202934;
    background: #f5b9cb;
    box-shadow: 3px 3px 20px -5px #202934;
}

.img-container:hover {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .reviewTitle {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 0.9rem;
        font-weight: 400;
    }
    .review {
        margin-top: 0;
        align-items: center;
        justify-content: normal;
        text-align: center;
    }
    .review-info{
        width: auto;
    }
    .review-info h4 {
        font-size: 18px;
        margin: 5px 0;
    }
    .review-info p {
        font-size: 12px;
        margin: 5px 0;
    }
    .comment {
        font-size: 0.9rem;
    }
    .img {
        width: 80%;
        height: 80%;
    }
    hr {
        margin: 5px 0;
    }

    .comment p {
        margin-top: 10px;
    }

}