.container__services {
  background-color: #f3f3f3; 
  margin: 0;
  padding: 0;  
}

.top_services {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  padding: 100px 100px 0 100px;    
}

.title h1 {
  font-size: 6.5rem;
  letter-spacing: 1px;
}

.title h2 {
  font-size: 1.5rem;
  margin: 50px 0;
}

.cards-container {
  width: 90%;
  margin-bottom: 50px;
}

.service-card {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  border-radius: 20px;
  box-shadow: 3px 3px 20px -5px #202934;
  margin: 50px 0 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  border-radius: 20px;
  padding: 10px;
  height: 45%;
}

.bottom_services {
  width: 100%;
  height: 100%;
  margin: 0; 
}

.bottom_services h2 {
  font-size: 5rem;
  margin: 35px 0;
}

.bottom_services section {
  margin: 35px 0;
}

.bottom_services section p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.bottom_services section .below  {
  font-size: 1.6rem;
}

.area_container {
margin: 35px 0;
}

.area-icon {
  width: 40px;
  height: 40px;
  padding: 15px;
  border-radius: 50%;
  background-color: #1e4171;
  color: #f3f3f3;
}

.area p {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #202934;
  margin: 0;
}

.expand {
  padding: 80px 0;
  background-image: url("./images/cta-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.expand_text h3{
  font-size: 2rem;
  font-weight: bolder;
}

.expand_text {
  width: 60%;
  text-align: start;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 10%;
  color: #f3f3f3;
}

.buttonContactService {
  width: auto;
  align-self: center;
}

.btn-services {
  width: 180px;
  height: 50px;
  border: none;
  font-size: large;
  font-weight: bold;
  color: #f3f3f3;
  background-color: #1e4171;
  transition: all 400ms ease-in-out;
}

.btn-services:hover {
  width: 190px;
  height: 55px;
  font-size: 1.2rem;
  box-shadow: 0px 0px 30px -5px #202934;
  background-color: #1e4171;
  color: #f3f3f3;
}



@media screen and (max-width: 767px) {
  .top_services {
    margin: 0;
    padding: 150px 0 0 0;    
  }
  .top_services h1 {
    font-size: 3rem;
    letter-spacing: 0px;
  } 
  .top_services h2 {
    font-size: 18px;
    padding: 10px 0 30px 0;
    margin: 0;
  }
  
  .carouselImg {
    width: 200px;
    height: 200px;
  }
  
  .carouselitem {
    flex-direction: column;
    width: 85%;
    margin-left: 7.5%;
  }

  p {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 20px;
  }


  .expand {
    padding: 40px 0;
  }

  .expand .row {
    width: 100%;
    margin: 0;
  }
  
  .expand_text h3{
    font-size: 1.5rem;
    text-align: center;    
  }
  
  .expand_text {
    text-align: center ;
    font-size: 1.1rem;
    margin-left: 0;
  }
  
  .btn-services {
    width: 180px;
    height: 50px;
    border: none;
    font-size: large;
    font-weight: bold;
    color: #f3f3f3;
    background-color: #1e4171;
    transition: all 400ms ease-in-out;
  }
  
  .btn-services:hover {
    width: 190px;
    height: 55px;
    font-size: 1.2rem;
    box-shadow: 0px 0px 30px -5px #f3f3f3;
    background-color: #1e4171;
    color: #f3f3f3;
  }

  .bottom_services .title {
    font-size: 3rem;
    letter-spacing: 0px;
  }
  
  .bottom_services section h3 {
    font-size: 18px;
    padding: 10px 0 30px 0;
    margin: 0;
  }
  .bottom_services section p {
    font-size: 14px;
    padding: 10px 0 30px 0;
    margin: 0;
  }
  
  .area_container {
    margin: 0;
  }

  .area_container .row {
    flex-direction: row;
    align-items: start;
    width: 98%;
    margin-left: 1%;
  }

  .area {
    margin: 30px 0;
  }
  
  .area-icon {
    width: 20px;
    height: 20px;
    padding: 10px;
  }
  
  .area p {
    font-size: 0.9rem;
    margin: 0;
  }
  
}




/*@media only screen and (min-width: 415px) and (max-width: 766px) {

}*/