* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.title {
  font-family: 'Sacramento', cursive;
}

.text {
  font-family: 'Montserrat', sans-serif;
}

.colorlight {
  background-color: #f3f3f3;
}

.colorpink {
  color: #f5b9cb;
}

.backgroundpink {
  background-color: #f5b9cb;
}

.colorlightpink {
  color: #fce8e9;
}

.backgroundlightpink {
  background-color: #fce8e9;
}

.backgroundblue {
  background-color: #1e4171;
}

.colorblue {
  color: #1e4171;
}

.colordark {
  color: #202934;
}

.move__content {
  right: 230px;
}

.nav_mod {
  height: 70px;
  box-shadow: 1px 1px 10px 0px #1e4171;
}